version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    ports:
      - '8000:8000'
    depends_on:
      - mlflow

  mlflow:
    build:
      context: .
      dockerfile: docker/mlflow.Dockerfile
    ports:
      - '5000:5000'
    volumes:
      - ./mlflow_artifacts:/mlflow/artifacts
