# =========================
# Core ML
# =========================
numpy
pandas
scikit-learn
joblib
xgboost 

# =========================
# MLflow (tracking + registry)
# =========================
mlflow

# =========================
# Visualization (notebooks / debug)
# =========================
matplotlib
seaborn

# =========================
# API
# =========================
fastapi
uvicorn[standard]
pydantic

# =========================
# Data & utils
# =========================
python-dotenv
requests

# =========================
# Notebooks
# =========================
jupyter
ipykernel
